<h1 class="text-center">products works</h1>

@if(loading){
    <h1>Loading...</h1>
}@else{
    <div class="container">
        <div class="row">
          @for(prod of product ; track prod.id){
          <div class="col-sm-3">
            <div class="card text-center m-1">
              <img [src]="prod.image" class="card-img-top img-fluid" style="height: 200px;"/>
              <div class="card-body">
            <h1 class="card-title text-truncate">{{prod.category}}</h1>
            <p class="card-text text-truncate">{{prod.title}}</p>
            <p class="card-text text-truncate">{{prod.description}}</p>
            <p class="card-text  text-truncate">{{prod.price}}</p>
            <p class="card-text  text-truncate">{{prod.rating.rate}}</p>
            <a href="" class="btn btn-primary" [routerLink]="['/productsDetails',prod.id]">details</a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      
}