<p>child1 works!</p>
<p>my parent data is {{a}}</p>
<div>my own data b is {{b}}</div>
<div>This is value of b :<input type="number" [(ngModel)]="b"/></div>
<button class="btn btn-primary mx-2" (click)="childf1()">f1</button>
<button class="btn btn-primary" (click)="f2()">click me</button>
<div class="m-1"><input type="text m-1" id="myBox1" #myInputBox/></div>
<div class="m-1"><input type="text m-1" id="myBox2" #myInputBox/></div>
<div class="m-1"><input type="text m-1" id="myBox3" #myInputBox/></div>