<!-- <app-databindingassignment></app-databindingassignment> -->
<!-- <app-demo1></app-demo1> -->
<!-- <h1>hi everyone</h1> -->
<!-- <app-directives></app-directives> -->
 <!-- <app-demo2>
    <h1>this text is from body to used this in child component used ng-component tag</h1>
 </app-demo2> -->

 <!-- <app-my-model> -->
    <!-- <h1 id="heading">this is title</h1>
    <h1>this content comes from parent</h1> -->
 <!-- </app-my-model> -->
  
 <!-- <app-products></app-products> -->

 <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes></app-pipes> -->

  <!-- <app-parent></app-parent> -->

  <!-- <app-user-crud></app-user-crud> -->

  <!-- <app-trafic-light></app-trafic-light> -->

  <!-- <app-math1></app-math1>
  <app-math2></app-math2> -->
  <!-- <app-comments></app-comments> -->
   <!-- <app-employees></app-employees> -->

   <!-- <app-http-demo1></app-http-demo1> -->
   <!-- <app-crud-app-http-client></app-crud-app-http-client> -->

<!-- @if(flag){
   <app-observable-demo1></app-observable-demo1>
}

<button class="btn btn-primary"(click)="flag!==flag">change flag</button> -->

<!-- <app-observable-demo2></app-observable-demo2> -->
<!-- <app-observable-demo3></app-observable-demo3> -->
 <!-- <app-subject-demo1></app-subject-demo1> -->

 <!-- <div class="container">
   <div class="row">
      <div class="col border">
         <app-message1></app-message1>
      </div>
      <div class="col border">
         <app-message2></app-message2>
      </div>
      <div class="col border">
         <app-message3></app-message3>
      </div>
   </div>
 </div> -->

 <!-- this assignment is not completed -->
<!-- <div class="container">
   <div class="row">
      <div class="col border">
         <app-crud-using-subject></app-crud-using-subject>
      </div>
      <div class="col border">
         <app-crud-table1></app-crud-table1>
      </div>
      <div class="col border">
         <app-crud-table2></app-crud-table2>
      </div>
   </div>
</div> -->

<!-- <app-signal-demo></app-signal-demo> -->

<!-- <app-form-demo1></app-form-demo1> -->
 <!-- <app-form-assignment></app-form-assignment> -->
  <!-- <app-form-demo2></app-form-demo2> -->
   <!-- <app-form-demo3></app-form-demo3> -->

   <router-outlet></router-outlet>