<h2 class="text-center">product details page</h2>

<div class="col-sm-4 offset-4">
  <div class="card text-center m-1">
    <img
      [src]="product?.image"
      class="card-img-top img-fluid text-center"
      style="height: 200px;width: 300px;"
    />
    <div class="card-body">
      <h1 class="card-title text-truncate">{{ product?.category }}</h1>
      <p class="card-text text-truncate">{{ product?.title }}</p>
      <p class="card-text text-truncate">{{ product?.description }}</p>
      <p class="card-text text-truncate">{{ product?.price }}</p>
      <p class="card-text text-truncate">{{ product?.rating.rate }}</p>
    </div>
  </div>    
</div>
