<h2 class="text-center">this is careers component</h2>

<h2>this contains some for both child routes</h2>

<form action="">
  <input type="text" />
  <input type="text" />
  <input type="text" />
  <button type="submit">Submit</button>
  <button type="reset">reset</button>
</form>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <a href="#" routerLink="permanent">permanent Jobs</a><br />
      <a href="#" routerLink="contract">contract Jobs</a>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
